header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /*width: 100%; display-flex já olha isso*/
  /*height: 138px; display-flex já olha isso*/
  padding: 38px 48px;
  background-color: var(--background-tertiary-color);
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
  display: contents;
}

nav {
  display: none;
}

nav.ativo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  margin-top: 24px;
}

nav.ativo a {
  text-decoration: none;
  color: var(--text-secondary-color);
}

.menu-icon {
  margin-top: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.menu-icon img {
  width: 2rem;
  height: auto;
}
